.link {
  color: rgb(var(--text));
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.4s ease-in;
  &__title {
    font-size: 22px;
    font-weight: 600;
    &:hover {
      text-shadow: #fc0 1px 0 10px;
    }
  }
  &__sideMenu {
    font-size: 18px;
    font-weight: 500;
    &:hover {
      text-shadow: rgb(0, 213, 255) 1px 0 10px;
    }
  }
}
