.slider {
  width: 90%;
  height: 200px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  overflow: scroll;
}

@media (max-width: 1920px) {
  .slider {
    width: 65%;
  }
}
@media (max-width: 1240px) {
  .slider {
    width: 90%;
  }
}
