.slider {
  width: 90%;
  margin: 0 auto;
  margin-top: 10px;
}
.slick-list {
  height: 200px;
  padding-left: 20px;
}
@media (max-width: 1920px) {
  .slider {
    width: 65%;
  }
}
@media (max-width: 1240px) {
  .slider {
    width: 90%;
  }
}
@media (max-width: 575px) {
  .slider {
    width: 80%;
  }
  .slick-list {
    height: 200px;
    padding-left: 12px;
  }
}
