.nav {
  display: flex;
  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0;
  }
  &__item {
    list-style-type: none;
    border: 2px solid aliceblue;
    border-radius: 5px;
    padding: 5px 10px;
    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}
